footer.footer
	.footer-wrap
		.footer-copi © 2015, Это мой сайт, пожалуйста, не копируйте и не воруйте его
// JS
<!-- build:js js/vendor.js -->
// bower:js
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/jquery-ui/jquery-ui.js')
script(src='/bower/jquery-file-upload/js/jquery.fileupload.js')
script(src="js/jquery.cookie.js")
// endbower
<!-- endbuild -->

<!-- build:js js/site.js -->
script(src="js/watermark.js")
script(src="js/form.js")
script(src="js/social.js")
script(src="js/language.js")
script(src="js/index.js")
<!-- endbuild -->